@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>This is an application designed to help professors detect cheating within a class. They are able to upload student files and compare them to highlight the cheaters.</p>
